body{
    font-family: "Times New Roman";
    background-color: aquamarine;
}

img {
    border: 10px solid blue;
}

.block{
    text-align: center;
    padding: 50px 50px 50px 50px;
    margin: 30px 30px 30px 30px;
}

#jumpscare{
    text-align: left;
    font-size: 70%;

}
